{% extends "layout.html" %} {% block content %}
<div class="row">
  <br />
  <br />
  <br />
  <div class="col-md-8" align="center">
    <h1>Game {{game.id}}</h1>
    <br />
    <div class="js-odoo"></div>
    <button
      type="button"
      class="btn btn-danger btn-circle btn-xl"
      onclick="nextNumber()"
    >
      Spin!
    </button>
    <br />
    <br />
    <div class="prev-nums">Previous: <span id="prev-nums"></span></div>
    <br />
    <div class="prev-nums">
      Previous unsorted: {{ ", ".join(game.numbers.split(",")) }}
    </div>
  </div>
  <div class="col-md-4">
    <div id="win_patterns"></div>
    <br />
    <div id="tickets"></div>
    <button type="button" class="btn btn-primary" onclick="newGame()">
      New Game
    </button>
  </div>
</div>
<script>
  const markedNums = {{game.numbers.split(",")|safe}};
</script>
<script src="{{url_for('static', filename='odoo.js')}}"></script>
<script src="{{url_for('static', filename='game.js')}}"></script>
{% endblock %}
