
{% extends "layout.html" %}

{% block content %}
<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100vw;
  }
  th, td {
    padding: 5px;
  }
  td[data-selected=true] {
    background: #8BC34A;
  }
  div[class=row] {
    margin: 2em;
  }
</style>

<div class="container">
    <h1 class="mt-5" style="text-align: center;">Let's Play</h1>
    <div class="row">
      <b>Your ID: {{card.name}}</b>
    </div>
    <div class="row">
      <table>
        <tbody>
          {% for row in data %}
            <tr>
            {% for col in row %}
              {% if col == "-" %}
                <td> &nbsp; </td>
              {% else %}
                <td id="{{col}}" data-selected=false onclick="tileClicked('{{col}}')"> {{col}} </td>
              {% endif %}
            {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>

<script>

  function tileClicked(cellId){
    let cell = document.getElementById(cellId);
    let selected = cell.dataset.selected=="true" ? true : false;
    cell.setAttribute("data-selected", !selected);
  }

</script>
{% endblock %}

