{% extends "layout.html" %} {% block content %}
<div class="container">
  <div class="row">
  <br />
  <br />
  <br />
  <div class="col-md-12" align="center">
    <h1>Game {{game.id}}</h1>
    <br />
    <div class="js-odoo"></div>
    <button
      type="button"
      class="btn btn-danger btn-circle btn-xl"
      onclick="nextNumber()"
    >
      Spin!
    </button>
    <br />
    <br />
    <div class="prev-nums">
      <div class="prev-nums">
        Previous 5 Nums: <span id="prev-nums-unsorted"></span>
      </div>
    </div>
    <br />
    <div class="prev-nums">Previous: <span id="prev-nums"></span></div>
  </div>
</div>
</div>
<script>
  const markedNums = {{game.numbers.split(",")|safe}};
</script>
<script src="{{url_for('static', filename='odoo.js')}}"></script>
<script src="{{url_for('static', filename='game.js')}}"></script>
{% endblock %}
