/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container-narrow{
  margin: 0 auto;
  max-width: 700px;
}

/* Forms */

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}


.form-register {
  width: 50%;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}


.btn-circle.btn-xl {
  width: 3em;
  height: 3em;
  padding: 0.3em 0.3em;
  font-size: 3em;
  line-height: 1.33;
  border-radius: 0.6em;
  text-shadow: 2px 2px 7px #0000008f;
  box-shadow: 5px 8px 11px 1px rgba(0, 0, 0, 0.6);
  transition: 0.1s ease-in all; 
}

.btn-circle.btn-xl:hover {
    transform: scale(1.1);
}

.js-odoo {
  font-family: 'Inconsolata';
  font-weight: bold;
  font-size: 6em;
  text-shadow: 1px 1px 5px rgba(1, 1, 1, 0.6);
  fill: #111;
  margin-left: 6%;
  display: block;
  justify-content: center;
  align-items: center;
 }

 .prev-nums {
    font-size: large;
 }